<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" >
<xacro:include filename="$(find fishbot_description)/urdf/fishbot/common_inertia.xacro"/>
   
    
    <!-- 机器人imu部件，惯性测量传感器 -->
    <xacro:macro name="caster_xacro" params='caster_name xyz'> 
    <link name="${caster_name}_link">
        <visual>
          <!-- 要把轮子竖起来所以u修改偏移量 -->
            <origin xyz="0.0 0.0 0.0" rpy="0 0.0 0.0"/>                
        <!-- 几何形状 -->
            <geometry>
            <!-- 球状万象轮 -->
               <sphere radius="0.016"/>
            </geometry>
            <!-- 材质颜色 -->
            <material name="yellow">
                <color rgba="1.0 1.0 0.0 0.8"/>
            </material>
        </visual>
        <!-- 碰撞属性 -->
        <collision>
             <!-- 要把轮子竖起来所以u修改偏移量 -->
            <origin xyz="0.0 0.0 0.0" rpy="0 0.0 0.0"/>                
        <!-- 几何形状 -->
            <geometry>
            <!-- 球状万象轮 -->
               <sphere radius="0.016"/>
            </geometry>
            <!-- 材质颜色 -->
            <material name="yellow">
                <color rgba="1.0 1.0 0.0 0.8"/>
            </material>
        </collision>
        <xacro:sphere_inertia m="0.05" r="0.016"  />
    </link>
    <!-- 机器人关节，用于组合机器人的部件 -->
         <joint name="${caster_name}_joint" type="fixed">
            <parent link="base_link"/>
            <child link="${caster_name}_link"/>
            <origin xyz="${xyz}" rpy="0.0 0.0 0.0"/>

        </joint>

           <!-- 设置轮子摩擦力  这些标签分别代表了 摩擦系数，刚度系数 ，阻尼系数  imu1：切向摩擦系数，imu2：法向摩擦系数 kp;接触的刚度系数,kd：接触的阻尼系数-->
        <gazebo reference = "${caster_name}_link">
            <imu1 value = "0.0"/>
            <imu2 value = "0.0"/>
            <kp value="10000000000.0"/>
            <kd value="1.0"/>
        </gazebo>
    </xacro:macro>

     


</robot>
